
body {
  color: rgba(0,0,0,.84);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
  font: 18px Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
  font-kerning: normal;
  margin: 0;
}

blockquote {
  font-style: italic;
  border-left: 3px solid black;
  padding-left: 20px;
  margin-left: -23px;
}

pre {
  border-radius: 10px;
  margin: 1.75rem 0;
  overflow: auto;
  padding: 1em;
}

.navigation-bar {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 2.625rem 1.3125rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
}

.nav-link {
  float: right;
  font-size: 16px;
  padding: 10px 16px 10px;
}

.nav-link-container {
  display: flex;
}